extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1= project.project_name

        p.lead.text-light= project.description

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Technologies

        ul
          each technology in project.technologies
            li= technology

        a.button.expanded(href=`${project.live_link}`, target="_blank") Live Demo
        a.button.expanded(href=`${project.github_link}`, target="_blank") GitHub Repo
    
    img.image(src=`${project.image_urls[0]}`)
    img.image(src=`${project.image_urls[1]}`)
    img.image(src=`${project.image_urls[2]}`)